<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<form action='javascript:;' method="post" enctype="multipart/form-data" id="frmUploadFile">
    <input type = "file" name = "file" class = "form-control" />
    <input type="submit" value="upload" onClick="uploadFile()">
    <span class = "help-inline" id = "spanMessage">选择文件，并上传</span>
</form>
<div style="text-align: center">
    <img id="imgShow"/>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    function uploadFile(){
      var formData = new FormData($("#frmUploadFile")[0]);
      $.ajax({
        url: '/upload',
        type: 'POST',
        data: formData,
        async: false,
        cache: false,
        contentType: false,
        processData: false,
        success: function(data){
          if(200 === data.code) {
            $("#imgShow").attr('src', data.image_url);
            $("#spanMessage").html("上传成功");
          } else {
            $("#spanMessage").html("上传失败");
          }
          console.log('imgUploader upload success, data:', data);
        },
        error: function(){
          $("#spanMessage").html("与服务器通信发生错误");
        }
      });
    }
</script>
</body>
</html>
